flows/crm_autopecas_full_flow.json
[
  {
    "id": "crm_tab_unificado",
    "type": "tab",
    "label": "CRM Autopeças - Fluxo Unificado",
    "disabled": false,
    "info": "Fluxo único com bot, atendimento humano, PIX e dashboards."
  },
  {
    "id": "crm_link_fila_humana",
    "type": "link out",
    "z": "crm_tab_unificado",
    "name": "Fila humana",
    "mode": "link",
    "links": [
      "crm_link_in_humano"
    ],
    "x": 1160,
    "y": 240,
    "wires": []
  },
  {
    "id": "crm_webhook_whatsapp",
    "type": "http in",
    "z": "crm_tab_unificado",
    "name": "Webhook Entrada WhatsApp",
    "url": "/crm/autopecas/webhook",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "crm_fn_validate_hmac"
      ]
    ]
  },
  {
    "id": "crm_fn_validate_hmac",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Valida Assinatura HMAC",
    "func": "const crypto = require('crypto');\nconst headerSig = msg.req?.headers?.['x-webhook-signature'] || '';\nconst raw = typeof msg.payload === 'string' ? msg.payload : JSON.stringify(msg.payload || {});\nconst secret = env.get('WEBHOOK_HMAC_SECRET') || '';\nif (!secret) {\n  msg.statusCode = 500;\n  msg.payload = { ok: false, error: 'WEBHOOK_HMAC_SECRET ausente' };\n  return [null, msg];\n}\nconst expected = crypto.createHmac('sha256', secret).update(raw).digest('hex');\nif (headerSig !== expected) {\n  msg.statusCode = 401;\n  msg.payload = { ok: false, error: 'assinatura_invalida' };\n  return [null, msg];\n}\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 430,
    "y": 100,
    "wires": [
      [
        "crm_fn_normaliza_msg"
      ],
      [
        "crm_http_resp_bot"
      ]
    ]
  },
  {
    "id": "crm_fn_normaliza_msg",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Normaliza Mensagem + contexto",
    "func": "const body = msg.payload || {};\nconst telefone = String(body.telefone || body.from || '').replace(/\\D/g, '');\nconst texto = String(body.mensagem || body.text || '').trim();\nconst conversa = flow.get('ctx:' + telefone) || {};\nmsg.crm = {\n  telefone,\n  texto,\n  nome: conversa.nome || body.nome || null,\n  empresa: conversa.empresa || body.empresa || null,\n  itens_interesse: conversa.itens_interesse || body.itens_interesse || null,\n  estado: conversa.estado || body.estado || null,\n  cidade: conversa.cidade || body.cidade || null\n};\nmsg.topic = 'SELECT * FROM leads WHERE telefone = $1 LIMIT 1';\nmsg.payload = [telefone];\nreturn msg;",
    "outputs": 1,
    "x": 710,
    "y": 100,
    "wires": [
      [
        "crm_pg_lead_by_phone"
      ]
    ]
  },
  {
    "id": "crm_pg_lead_by_phone",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Identifica lead existente",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 1000,
    "y": 100,
    "wires": [
      [
        "crm_fn_valida_dados_minimos"
      ]
    ]
  },
  {
    "id": "crm_fn_valida_dados_minimos",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Valida dados mínimos",
    "func": "const leadAtual = (msg.payload && msg.payload[0]) || {};\nconst crm = msg.crm || {};\nconst merged = {\n  telefone: crm.telefone,\n  nome: crm.nome || leadAtual.nome || null,\n  empresa: crm.empresa || leadAtual.empresa || null,\n  itens_interesse: crm.itens_interesse || leadAtual.itens_interesse || null,\n  estado: crm.estado || leadAtual.estado || null,\n  cidade: crm.cidade || leadAtual.cidade || null\n};\nconst completo = Boolean(merged.nome && merged.itens_interesse);\nconst status = completo ? 'lead_qualificado_bot' : 'dados_incompletos';\nflow.set('ctx:' + merged.telefone, merged);\nmsg.crm = merged;\nmsg.crm.status = status;\nmsg.topic = `INSERT INTO leads (telefone, nome, empresa, itens_interesse, estado, cidade, origem, status)\nVALUES ($1,$2,$3,$4::jsonb,$5,$6,'whatsapp',$7)\nON CONFLICT (telefone) DO UPDATE SET\nnome = EXCLUDED.nome,\nempresa = EXCLUDED.empresa,\nitens_interesse = EXCLUDED.itens_interesse,\nestado = EXCLUDED.estado,\ncidade = EXCLUDED.cidade,\nstatus = EXCLUDED.status,\nupdated_at = now()\nRETURNING *`;\nmsg.payload = [merged.telefone, merged.nome, merged.empresa, JSON.stringify(merged.itens_interesse || []), merged.estado, merged.cidade, status];\nreturn [msg, completo ? null : msg];",
    "outputs": 2,
    "x": 1250,
    "y": 100,
    "wires": [
      [
        "crm_pg_upsert_lead"
      ],
      [
        "crm_template_dados_incompletos"
      ]
    ]
  },
  {
    "id": "crm_pg_upsert_lead",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Salva/Atualiza lead",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 1510,
    "y": 80,
    "wires": [
      [
        "crm_template_transferencia",
        "crm_link_fila_humana"
      ]
    ]
  },
  {
    "id": "crm_template_transferencia",
    "type": "template",
    "z": "crm_tab_unificado",
    "name": "Mensagem transferência",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Seu atendimento foi encaminhado para um vendedor especialista. Seguimos por aqui em instantes.",
    "output": "str",
    "x": 1770,
    "y": 60,
    "wires": [
      [
        "crm_http_resp_bot"
      ]
    ]
  },
  {
    "id": "crm_template_dados_incompletos",
    "type": "template",
    "z": "crm_tab_unificado",
    "name": "Mensagem dados incompletos",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Para continuar, preciso de pelo menos seu nome e o item desejado.",
    "output": "str",
    "x": 1520,
    "y": 140,
    "wires": [
      [
        "crm_http_resp_bot"
      ]
    ]
  },
  {
    "id": "crm_http_resp_bot",
    "type": "http response",
    "z": "crm_tab_unificado",
    "name": "HTTP Response Bot",
    "statusCode": "",
    "headers": {},
    "x": 2020,
    "y": 100,
    "wires": []
  },
  {
    "id": "crm_link_in_humano",
    "type": "link in",
    "z": "crm_tab_unificado",
    "name": "Recebe Lead Qualificado",
    "links": [
      "crm_link_fila_humana"
    ],
    "x": 180,
    "y": 100,
    "wires": [
      [
        "crm_fn_round_robin"
      ]
    ]
  },
  {
    "id": "crm_fn_round_robin",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Distribui vendedor ativo",
    "func": "msg.topic = 'SELECT id, nome FROM vendedores WHERE ativo = true ORDER BY created_at';\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "x": 460,
    "y": 100,
    "wires": [
      [
        "crm_pg_vendedores_ativos"
      ]
    ]
  },
  {
    "id": "crm_pg_vendedores_ativos",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Busca vendedores ativos",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 720,
    "y": 100,
    "wires": [
      [
        "crm_fn_abre_atendimento"
      ]
    ]
  },
  {
    "id": "crm_fn_abre_atendimento",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Abre atendimento + status",
    "func": "const rows = msg.payload || [];\nif (!rows.length) {\n  node.error('Nenhum vendedor ativo', msg);\n  return null;\n}\nlet idx = flow.get('vendedor_rr_idx') || 0;\nconst vendedor = rows[idx % rows.length];\nflow.set('vendedor_rr_idx', (idx + 1) % rows.length);\nconst leadId = (msg.payload_lead && msg.payload_lead.id) || (msg.crm_lead && msg.crm_lead.id) || (msg.crm && msg.crm.id) || null;\nmsg.crm_vendedor = vendedor;\nmsg.topic = `INSERT INTO atendimentos (lead_id, vendedor_id, status, canal, observacoes) VALUES ($1,$2,'transferido_vendedor','whatsapp',$3) RETURNING *`;\nmsg.payload = [leadId, vendedor.id, 'Auto-roteamento via round-robin'];\nreturn msg;",
    "outputs": 1,
    "x": 980,
    "y": 100,
    "wires": [
      [
        "crm_pg_cria_atendimento"
      ]
    ]
  },
  {
    "id": "crm_pg_cria_atendimento",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Cria atendimento",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 1230,
    "y": 100,
    "wires": [
      [
        "crm_pg_consulta_estoque"
      ]
    ]
  },
  {
    "id": "crm_pg_consulta_estoque",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Consulta estoque em tempo real",
    "output": true,
    "perrow": false,
    "query": "SELECT sku, descricao, quantidade_disponivel, preco_unitario FROM estoque WHERE ativo = true ORDER BY quantidade_disponivel ASC LIMIT 20",
    "x": 1510,
    "y": 100,
    "wires": [
      [
        "crm_template_proposta"
      ]
    ]
  },
  {
    "id": "crm_template_proposta",
    "type": "template",
    "z": "crm_tab_unificado",
    "name": "Monta proposta",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Perfeito! Confirme por favor os itens, quantidades e valores. Após sua confirmação, envio o PIX para pagamento.",
    "output": "str",
    "x": 1740,
    "y": 100,
    "wires": [
      [
        "crm_link_confirmacao_itens"
      ]
    ]
  },
  {
    "id": "crm_link_confirmacao_itens",
    "type": "link out",
    "z": "crm_tab_unificado",
    "name": "Trigger confirmação de itens",
    "mode": "link",
    "links": [
      "crm_link_in_pix"
    ],
    "x": 1990,
    "y": 100,
    "wires": []
  },
  {
    "id": "crm_link_in_pix",
    "type": "link in",
    "z": "crm_tab_unificado",
    "name": "Confirmação itens recebida",
    "links": [
      "crm_link_confirmacao_itens"
    ],
    "x": 190,
    "y": 80,
    "wires": [
      [
        "crm_fn_valida_total"
      ]
    ]
  },
  {
    "id": "crm_fn_valida_total",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Valida total pedido",
    "func": "const total = Number(msg.total || msg.pedido?.total || 0);\nif (!(total > 0)) {\n  node.error('Total inválido para gerar PIX', msg);\n  return null;\n}\nmsg.pix = {\n  chave: '02445780012',\n  valor: total.toFixed(2),\n  descricao: `Pedido ${msg.pedido?.id || ''}`\n};\nreturn msg;",
    "outputs": 1,
    "x": 440,
    "y": 80,
    "wires": [
      [
        "crm_http_pix"
      ]
    ]
  },
  {
    "id": "crm_http_pix",
    "type": "http request",
    "z": "crm_tab_unificado",
    "name": "Gerar PIX (gateway)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://webhook-gateway:3000/pix/cobranca",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": true,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "application/json",
        "valueType": "other",
        "valueValue": "application/json"
      }
    ],
    "x": 700,
    "y": 80,
    "wires": [
      [
        "crm_fn_persist_pix"
      ]
    ]
  },
  {
    "id": "crm_fn_persist_pix",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Persistir PIX + status",
    "func": "const txid = msg.payload?.txid || msg.payload?.id;\nconst copia = msg.payload?.pix_copia_cola || msg.payload?.copiaecola;\nconst pedidoId = msg.pedido?.id;\nmsg.topic = `UPDATE pedidos SET pix_txid=$1, pix_copia_cola=$2, status='aguardando_pagamento', updated_at=now() WHERE id=$3 RETURNING *`;\nmsg.payload = [txid, copia, pedidoId];\nmsg.pix = { txid, copia };\nreturn msg;",
    "outputs": 1,
    "x": 980,
    "y": 80,
    "wires": [
      [
        "crm_pg_update_pedido_pix"
      ]
    ]
  },
  {
    "id": "crm_pg_update_pedido_pix",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Atualiza pedido aguardando_pagamento",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 1280,
    "y": 80,
    "wires": [
      [
        "crm_template_msg_pix",
        "crm_template_recibo_provisorio"
      ]
    ]
  },
  {
    "id": "crm_template_msg_pix",
    "type": "template",
    "z": "crm_tab_unificado",
    "name": "Mensagem PIX gerado",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Pedido confirmado ✅\nTotal: R$ {{pedido.total}}\nPIX (copia e cola): {{pix.copia}}\nAssim que o pagamento for confirmado, envio o recibo para download aqui no chat.",
    "output": "str",
    "x": 1590,
    "y": 60,
    "wires": [
      [
        "crm_debug_pix"
      ]
    ]
  },
  {
    "id": "crm_template_recibo_provisorio",
    "type": "template",
    "z": "crm_tab_unificado",
    "name": "Recibo provisório HTML",
    "field": "recibo_html",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<h1>Recibo Provisório</h1><p>Pedido: {{pedido.id}}</p><p>Total: R$ {{pedido.total}}</p>",
    "output": "str",
    "x": 1600,
    "y": 110,
    "wires": [
      [
        "crm_debug_pix"
      ]
    ]
  },
  {
    "id": "crm_webhook_pix_callback",
    "type": "http in",
    "z": "crm_tab_unificado",
    "name": "Webhook confirmação PIX",
    "url": "/crm/autopecas/pix/callback",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 200,
    "wires": [
      [
        "crm_fn_valida_callback"
      ]
    ]
  },
  {
    "id": "crm_fn_valida_callback",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Valida TXID e valor",
    "func": "const txid = msg.payload?.txid;\nconst valor = Number(msg.payload?.valor || 0);\nif (!txid || !(valor > 0)) {\n  msg.statusCode = 400;\n  msg.payload = { ok: false, error: 'callback_invalido' };\n  return [null, msg];\n}\nmsg.topic = `UPDATE pedidos SET status='pago', pago_em=now(), updated_at=now() WHERE pix_txid=$1 AND total=$2 RETURNING id`;\nmsg.payload = [txid, valor];\nreturn [msg, null];",
    "outputs": 2,
    "x": 440,
    "y": 200,
    "wires": [
      [
        "crm_pg_set_pago"
      ],
      [
        "crm_http_resp_pix"
      ]
    ]
  },
  {
    "id": "crm_pg_set_pago",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Atualiza pedido pago",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 720,
    "y": 200,
    "wires": [
      [
        "crm_template_pagamento_confirmado"
      ]
    ]
  },
  {
    "id": "crm_template_pagamento_confirmado",
    "type": "template",
    "z": "crm_tab_unificado",
    "name": "Mensagem pagamento confirmado",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Pagamento confirmado ✅\nSeu recibo já está disponível para download: {{recibo_url}}\nObrigado!",
    "output": "str",
    "x": 1010,
    "y": 200,
    "wires": [
      [
        "crm_http_resp_pix"
      ]
    ]
  },
  {
    "id": "crm_http_resp_pix",
    "type": "http response",
    "z": "crm_tab_unificado",
    "name": "HTTP Response PIX",
    "statusCode": "",
    "headers": {},
    "x": 1270,
    "y": 200,
    "wires": []
  },
  {
    "id": "crm_debug_pix",
    "type": "debug",
    "z": "crm_tab_unificado",
    "name": "Debug PIX",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1850,
    "y": 80,
    "wires": []
  },
  {
    "id": "crm_ui_tab_operacao",
    "type": "ui_tab",
    "name": "Operação",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false,
    "order": 2
  },
  {
    "id": "crm_ui_group_operacao",
    "type": "ui_group",
    "name": "KPIs Operacionais",
    "tab": "crm_ui_tab_operacao",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "crm_inject_dashboard",
    "type": "inject",
    "z": "crm_tab_unificado",
    "name": "Refresh KPIs",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "30",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "crm_fn_prep_kpi_operacao",
        "crm_fn_prep_kpi_vendas",
        "crm_fn_prep_kpi_financeiro",
        "crm_fn_prep_kpi_clientes",
        "crm_inject_refresh_fila"
      ]
    ]
  },
  {
    "id": "crm_pg_kpis_operacao",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Query KPIs Operação",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 430,
    "y": 100,
    "wires": [
      [
        "crm_fn_kpis_to_ui"
      ]
    ]
  },
  {
    "id": "crm_fn_kpis_to_ui",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Map KPIs para dashboard",
    "func": "const row = (msg.payload && msg.payload[0]) || {};\nreturn [\n  { payload: Number(row.atendimentos_hoje || 0) },\n  { payload: Number(row.em_atendimento_humano || 0) },\n  { payload: Number(row.aguardando_pagamento || 0) }\n];",
    "outputs": 3,
    "x": 700,
    "y": 100,
    "wires": [
      [
        "crm_ui_txt_atendimentos_hoje"
      ],
      [
        "crm_ui_txt_em_humano"
      ],
      [
        "crm_ui_txt_aguardando_pag"
      ]
    ]
  },
  {
    "id": "crm_ui_txt_atendimentos_hoje",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_operacao",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Atendimentos Hoje",
    "label": "Atendimentos hoje",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 990,
    "y": 60,
    "wires": []
  },
  {
    "id": "crm_ui_txt_em_humano",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_operacao",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Em atendimento humano",
    "label": "Em atendimento humano",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 100,
    "wires": []
  },
  {
    "id": "crm_ui_txt_aguardando_pag",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_operacao",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Aguardando pagamento",
    "label": "Aguardando pagamento",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 140,
    "wires": []
  },
  {
    "id": "crm_postgres_config",
    "type": "postgresdb",
    "hostname": "postgres",
    "port": "5432",
    "db": "flowpluss",
    "ssl": false,
    "name": "PostgreSQL CRM"
  },
  {
    "id": "crm_ui_tab_menu",
    "type": "ui_tab",
    "name": "Menu CRM",
    "icon": "home",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "crm_ui_group_menu",
    "type": "ui_group",
    "name": "Navegação",
    "tab": "crm_ui_tab_menu",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "crm_ui_menu_links",
    "type": "ui_template",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_menu",
    "name": "Menu principal de telas",
    "order": 1,
    "width": 12,
    "height": 6,
    "format": "html",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "template": "<style>\n.crm-menu a { display:block; margin:8px 0; padding:10px 12px; border:1px solid #d9d9d9; border-radius:8px; text-decoration:none; color:#1f2937; font-weight:600; }\n.crm-menu a:hover { background:#f3f4f6; }\n.crm-menu small { color:#6b7280; }\n</style>\n<div class=\"crm-menu\">\n  <h3>Menu principal do CRM Autopeças</h3>\n  <p>Acesse as telas:</p>\n  <a href=\"/ui\" target=\"_blank\">🏠 Dashboard (home)</a>\n  <a href=\"/ui/#!/0\" target=\"_blank\">📍 Menu CRM</a>\n  <a href=\"/ui/#!/1\" target=\"_blank\">🧑‍💼 Atendimento</a>\n  <a href=\"/ui/#!/2\" target=\"_blank\">📊 Operação</a>\n  <a href=\"/ui/#!/3\" target=\"_blank\">💼 Vendas</a>\n  <a href=\"/ui/#!/4\" target=\"_blank\">💳 Financeiro PIX</a>\n  <a href=\"/ui/#!/5\" target=\"_blank\">📦 Clientes & Estoque</a>\n  <small>Se o índice mudar após importação, use o menu lateral do /ui.</small>\n</div>",
    "x": 1010,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "crm_ui_tab_vendas",
    "type": "ui_tab",
    "name": "Vendas",
    "icon": "shopping_cart",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "crm_ui_group_vendas",
    "type": "ui_group",
    "name": "KPIs de Vendas",
    "tab": "crm_ui_tab_vendas",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "crm_ui_tab_financeiro",
    "type": "ui_tab",
    "name": "Financeiro PIX",
    "icon": "attach_money",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "crm_ui_group_financeiro",
    "type": "ui_group",
    "name": "KPIs Financeiros",
    "tab": "crm_ui_tab_financeiro",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "crm_ui_tab_clientes",
    "type": "ui_tab",
    "name": "Clientes & Estoque",
    "icon": "people",
    "order": 5,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "crm_ui_group_clientes",
    "type": "ui_group",
    "name": "KPIs de Clientes e Estoque",
    "tab": "crm_ui_tab_clientes",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "crm_pg_kpis_vendas",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Query KPIs Vendas",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 430,
    "y": 460,
    "wires": [
      [
        "crm_fn_kpis_vendas_to_ui"
      ]
    ]
  },
  {
    "id": "crm_fn_kpis_vendas_to_ui",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Map KPIs vendas",
    "func": "const row = (msg.payload && msg.payload[0]) || {};\nreturn [\n  { payload: Number(row.pedidos_hoje || 0) },\n  { payload: Number(row.faturamento_hoje || 0).toFixed(2) },\n  { payload: Number(row.ticket_medio_hoje || 0).toFixed(2) }\n];",
    "outputs": 3,
    "x": 700,
    "y": 460,
    "wires": [
      [
        "crm_ui_txt_pedidos_hoje"
      ],
      [
        "crm_ui_txt_faturamento_hoje"
      ],
      [
        "crm_ui_txt_ticket_medio"
      ]
    ]
  },
  {
    "id": "crm_ui_txt_pedidos_hoje",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_vendas",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Pedidos hoje",
    "label": "Pedidos hoje",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 990,
    "y": 420,
    "wires": []
  },
  {
    "id": "crm_ui_txt_faturamento_hoje",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_vendas",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Faturamento hoje",
    "label": "Faturamento hoje (R$)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 460,
    "wires": []
  },
  {
    "id": "crm_ui_txt_ticket_medio",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_vendas",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Ticket médio",
    "label": "Ticket médio hoje (R$)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 990,
    "y": 500,
    "wires": []
  },
  {
    "id": "crm_pg_kpis_financeiro",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Query KPIs Financeiro PIX",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 450,
    "y": 580,
    "wires": [
      [
        "crm_fn_kpis_financeiro_to_ui"
      ]
    ]
  },
  {
    "id": "crm_fn_kpis_financeiro_to_ui",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Map KPIs financeiro",
    "func": "const row = (msg.payload && msg.payload[0]) || {};\nreturn [\n  { payload: Number(row.pedidos_aguardando_pix || 0) },\n  { payload: Number(row.pagamentos_confirmados_hoje || 0) },\n  { payload: Number(row.recebido_hoje || 0).toFixed(2) }\n];",
    "outputs": 3,
    "x": 720,
    "y": 580,
    "wires": [
      [
        "crm_ui_txt_aguardando_pix"
      ],
      [
        "crm_ui_txt_pagamentos_hoje"
      ],
      [
        "crm_ui_txt_recebido_hoje"
      ]
    ]
  },
  {
    "id": "crm_ui_txt_aguardando_pix",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_financeiro",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Aguardando PIX",
    "label": "Pedidos aguardando PIX",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 540,
    "wires": []
  },
  {
    "id": "crm_ui_txt_pagamentos_hoje",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_financeiro",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Pagamentos confirmados",
    "label": "Pagamentos confirmados hoje",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1020,
    "y": 580,
    "wires": []
  },
  {
    "id": "crm_ui_txt_recebido_hoje",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_financeiro",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Recebido hoje",
    "label": "Recebido hoje (R$)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 620,
    "wires": []
  },
  {
    "id": "crm_pg_kpis_clientes",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Query KPIs Clientes/Estoque",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 460,
    "y": 700,
    "wires": [
      [
        "crm_fn_kpis_clientes_to_ui"
      ]
    ]
  },
  {
    "id": "crm_fn_kpis_clientes_to_ui",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Map KPIs clientes/estoque",
    "func": "const row = (msg.payload && msg.payload[0]) || {};\nreturn [\n  { payload: Number(row.novos_leads_hoje || 0) },\n  { payload: Number(row.leads_qualificados || 0) },\n  { payload: Number(row.itens_estoque_baixo || 0) }\n];",
    "outputs": 3,
    "x": 740,
    "y": 700,
    "wires": [
      [
        "crm_ui_txt_novos_leads"
      ],
      [
        "crm_ui_txt_leads_qualificados"
      ],
      [
        "crm_ui_txt_estoque_baixo"
      ]
    ]
  },
  {
    "id": "crm_ui_txt_novos_leads",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_clientes",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Novos leads",
    "label": "Novos leads hoje",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 990,
    "y": 660,
    "wires": []
  },
  {
    "id": "crm_ui_txt_leads_qualificados",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_clientes",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Leads qualificados",
    "label": "Leads qualificados",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1010,
    "y": 700,
    "wires": []
  },
  {
    "id": "crm_ui_txt_estoque_baixo",
    "type": "ui_text",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_clientes",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Estoque baixo",
    "label": "Itens com estoque baixo",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 740,
    "wires": []
  },
  {
    "id": "crm_fn_prep_kpi_operacao",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Prep query KPI Operação",
    "func": "msg.topic = \"SELECT COUNT(*) FILTER (WHERE created_at::date = current_date) AS atendimentos_hoje, COUNT(*) FILTER (WHERE status = 'em_atendimento_humano') AS em_atendimento_humano, COUNT(*) FILTER (WHERE status = 'aguardando_pagamento') AS aguardando_pagamento FROM atendimentos\";\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 210,
    "y": 60,
    "wires": [
      [
        "crm_pg_kpis_operacao"
      ]
    ]
  },
  {
    "id": "crm_fn_prep_kpi_vendas",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Prep query KPI Vendas",
    "func": "msg.topic = \"SELECT COUNT(*) FILTER (WHERE created_at::date = current_date) AS pedidos_hoje, COALESCE(SUM(total) FILTER (WHERE created_at::date = current_date),0) AS faturamento_hoje, COALESCE(AVG(total) FILTER (WHERE created_at::date = current_date),0) AS ticket_medio FROM pedidos\";\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 420,
    "wires": [
      [
        "crm_pg_kpis_vendas"
      ]
    ]
  },
  {
    "id": "crm_fn_prep_kpi_financeiro",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Prep query KPI Financeiro",
    "func": "msg.topic = \"SELECT COUNT(*) FILTER (WHERE status = 'aguardando_pagamento') AS aguardando_pix, COUNT(*) FILTER (WHERE status = 'pago' AND updated_at::date = current_date) AS pagos_hoje, COALESCE(SUM(total) FILTER (WHERE status = 'pago' AND updated_at::date = current_date),0) AS recebido_hoje FROM pedidos\";\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 720,
    "wires": [
      [
        "crm_pg_kpis_financeiro"
      ]
    ]
  },
  {
    "id": "crm_fn_prep_kpi_clientes",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Prep query KPI Clientes/Estoque",
    "func": "msg.topic = \"SELECT (SELECT COUNT(*) FROM leads WHERE created_at::date = current_date) AS novos_leads_hoje, (SELECT COUNT(*) FROM leads WHERE status = 'lead_qualificado_bot') AS leads_qualificados, (SELECT COUNT(*) FROM estoque WHERE ativo = true AND quantidade_disponivel <= 5) AS itens_estoque_baixo\";\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 230,
    "y": 1030,
    "wires": [
      [
        "crm_pg_kpis_clientes"
      ]
    ]
  },
  {
    "id": "crm_ui_tab_atendimento",
    "type": "ui_tab",
    "name": "Atendimento",
    "icon": "people",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "crm_ui_group_fila",
    "type": "ui_group",
    "name": "Fila do Bot",
    "tab": "crm_ui_tab_atendimento",
    "order": 1,
    "disp": true,
    "width": "24",
    "collapse": false
  },
  {
    "id": "crm_ui_group_vendedor",
    "type": "ui_group",
    "name": "Cadastro de Vendedor",
    "tab": "crm_ui_tab_atendimento",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "crm_ui_group_estoque",
    "type": "ui_group",
    "name": "Itens e Estoque",
    "tab": "crm_ui_tab_atendimento",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "crm_inject_refresh_fila",
    "type": "inject",
    "z": "crm_tab_unificado",
    "name": "Refresh fila atendimento",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "15",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 1180,
    "wires": [
      [
        "crm_fn_prep_fila_atendimento"
      ]
    ]
  },
  {
    "id": "crm_fn_prep_fila_atendimento",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Prep query fila atendimento",
    "func": "msg.topic = `SELECT a.id, COALESCE(l.nome,'Lead sem nome') AS cliente, COALESCE(v.nome,'Sem vendedor') AS vendedor, a.status, to_char(a.created_at,'DD/MM HH24:MI') AS criado_em\nFROM atendimentos a\nLEFT JOIN leads l ON l.id = a.lead_id\nLEFT JOIN vendedores v ON v.id = a.vendedor_id\nWHERE a.status IN ('transferido_vendedor','em_atendimento_humano','lead_qualificado_bot')\nORDER BY a.created_at DESC\nLIMIT 30`;\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 1180,
    "wires": [
      [
        "crm_pg_fila_atendimento"
      ]
    ]
  },
  {
    "id": "crm_pg_fila_atendimento",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Query fila atendimento",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 700,
    "y": 1180,
    "wires": [
      [
        "crm_fn_format_fila"
      ]
    ]
  },
  {
    "id": "crm_fn_format_fila",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Formata fila para dashboard",
    "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nif (!rows.length) {\n  msg.payload = '<p>Nenhum atendimento pendente no momento.</p>';\n  return msg;\n}\nconst htmlRows = rows.map(r => `<tr><td>${r.id}</td><td>${r.cliente}</td><td>${r.vendedor}</td><td>${r.status}</td><td>${r.criado_em}</td></tr>`).join('');\nmsg.payload = `<table style=\"width:100%;border-collapse:collapse\"><thead><tr><th>ID</th><th>Cliente</th><th>Vendedor</th><th>Status</th><th>Criado em</th></tr></thead><tbody>${htmlRows}</tbody></table>`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 950,
    "y": 1180,
    "wires": [
      [
        "crm_ui_template_fila"
      ]
    ]
  },
  {
    "id": "crm_ui_template_fila",
    "type": "ui_template",
    "z": "crm_tab_unificado",
    "group": "crm_ui_group_fila",
    "name": "Fila do atendimento",
    "order": 1,
    "width": "24",
    "height": "10",
    "format": "<style>table, th, td { border: 1px solid #e5e7eb; padding: 6px; font-size: 12px; } th{background:#f3f4f6;text-align:left}</style><div ng-bind-html=\"msg.payload\"></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 1200,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "crm_ui_form_vendedor",
    "type": "ui_form",
    "z": "crm_tab_unificado",
    "name": "Form vendedor",
    "label": "Cadastrar vendedor",
    "group": "crm_ui_group_vendedor",
    "order": 1,
    "width": "12",
    "height": "8",
    "options": [
      {
        "label": "Nome",
        "value": "nome",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "WhatsApp",
        "value": "whatsapp",
        "type": "text",
        "required": false,
        "rows": null
      },
      {
        "label": "Ativo (true/false)",
        "value": "ativo",
        "type": "text",
        "required": false,
        "rows": null
      }
    ],
    "formValue": {
      "nome": "",
      "whatsapp": "",
      "ativo": "true"
    },
    "payload": "",
    "submit": "Salvar vendedor",
    "cancel": "Limpar",
    "topic": "",
    "topicType": "str",
    "splitLayout": "",
    "className": "",
    "x": 170,
    "y": 1260,
    "wires": [
      [
        "crm_fn_insert_vendedor"
      ]
    ]
  },
  {
    "id": "crm_fn_insert_vendedor",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "SQL insert vendedor",
    "func": "const d = msg.payload || {};\nmsg.topic = 'INSERT INTO vendedores (nome, whatsapp, ativo) VALUES ($1,$2,$3) RETURNING id, nome';\nmsg.payload = [d.nome, d.whatsapp || null, String(d.ativo || 'true').toLowerCase() !== 'false'];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 1260,
    "wires": [
      [
        "crm_pg_insert_vendedor"
      ]
    ]
  },
  {
    "id": "crm_pg_insert_vendedor",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Insert vendedor",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 670,
    "y": 1260,
    "wires": [
      [
        "crm_fn_toast_vendedor"
      ]
    ]
  },
  {
    "id": "crm_fn_toast_vendedor",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Mensagem vendedor salvo",
    "func": "const row = Array.isArray(msg.payload) ? msg.payload[0] : null;\nmsg.payload = row ? `✅ Vendedor ${row.nome} cadastrado (ID ${row.id})` : '✅ Vendedor cadastrado';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1260,
    "wires": [
      [
        "crm_ui_toast_vendedor"
      ]
    ]
  },
  {
    "id": "crm_ui_toast_vendedor",
    "type": "ui_toast",
    "z": "crm_tab_unificado",
    "position": "top right",
    "displayTime": "4",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Toast vendedor",
    "x": 1170,
    "y": 1260,
    "wires": []
  },
  {
    "id": "crm_ui_form_item",
    "type": "ui_form",
    "z": "crm_tab_unificado",
    "name": "Form item",
    "label": "Cadastrar item",
    "group": "crm_ui_group_estoque",
    "order": 1,
    "width": "12",
    "height": "8",
    "options": [
      {
        "label": "SKU",
        "value": "sku",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Descrição",
        "value": "descricao",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Qtd inicial",
        "value": "quantidade",
        "type": "number",
        "required": true,
        "rows": null
      },
      {
        "label": "Preço unitário",
        "value": "preco",
        "type": "number",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "sku": "",
      "descricao": "",
      "quantidade": "0",
      "preco": "0"
    },
    "payload": "",
    "submit": "Salvar item",
    "cancel": "Limpar",
    "topic": "",
    "topicType": "str",
    "splitLayout": "",
    "className": "",
    "x": 150,
    "y": 1340,
    "wires": [
      [
        "crm_fn_insert_item"
      ]
    ]
  },
  {
    "id": "crm_fn_insert_item",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "SQL upsert item",
    "func": "const d = msg.payload || {};\nmsg.topic = `INSERT INTO estoque (sku, descricao, quantidade_disponivel, preco_unitario, ativo) VALUES ($1,$2,$3,$4,true)\nON CONFLICT (sku) DO UPDATE SET descricao = EXCLUDED.descricao, quantidade_disponivel = EXCLUDED.quantidade_disponivel, preco_unitario = EXCLUDED.preco_unitario, ativo = true\nRETURNING sku, descricao`;\nmsg.payload = [d.sku, d.descricao, Number(d.quantidade || 0), Number(d.preco || 0)];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 1340,
    "wires": [
      [
        "crm_pg_insert_item"
      ]
    ]
  },
  {
    "id": "crm_pg_insert_item",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Upsert item",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 650,
    "y": 1340,
    "wires": [
      [
        "crm_fn_toast_item"
      ]
    ]
  },
  {
    "id": "crm_fn_toast_item",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Mensagem item salvo",
    "func": "const row = Array.isArray(msg.payload) ? msg.payload[0] : null;\nmsg.payload = row ? `✅ Item ${row.sku} salvo` : '✅ Item salvo';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 1340,
    "wires": [
      [
        "crm_ui_toast_item"
      ]
    ]
  },
  {
    "id": "crm_ui_toast_item",
    "type": "ui_toast",
    "z": "crm_tab_unificado",
    "position": "top right",
    "displayTime": "4",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Toast item",
    "x": 1120,
    "y": 1340,
    "wires": []
  },
  {
    "id": "crm_ui_form_ajuste_estoque",
    "type": "ui_form",
    "z": "crm_tab_unificado",
    "name": "Form ajuste estoque",
    "label": "Ajustar estoque",
    "group": "crm_ui_group_estoque",
    "order": 2,
    "width": "12",
    "height": "6",
    "options": [
      {
        "label": "SKU",
        "value": "sku",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Nova quantidade",
        "value": "quantidade",
        "type": "number",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "sku": "",
      "quantidade": "0"
    },
    "payload": "",
    "submit": "Atualizar estoque",
    "cancel": "Limpar",
    "topic": "",
    "topicType": "str",
    "splitLayout": "",
    "className": "",
    "x": 170,
    "y": 1420,
    "wires": [
      [
        "crm_fn_update_estoque"
      ]
    ]
  },
  {
    "id": "crm_fn_update_estoque",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "SQL ajuste estoque",
    "func": "const d = msg.payload || {};\nmsg.topic = 'UPDATE estoque SET quantidade_disponivel = $1, updated_at = now() WHERE sku = $2 RETURNING sku, quantidade_disponivel';\nmsg.payload = [Number(d.quantidade || 0), d.sku];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 1420,
    "wires": [
      [
        "crm_pg_update_estoque"
      ]
    ]
  },
  {
    "id": "crm_pg_update_estoque",
    "type": "postgres",
    "z": "crm_tab_unificado",
    "postgresdb": "crm_postgres_config",
    "name": "Update estoque",
    "output": true,
    "perrow": false,
    "query": "",
    "x": 660,
    "y": 1420,
    "wires": [
      [
        "crm_fn_toast_estoque"
      ]
    ]
  },
  {
    "id": "crm_fn_toast_estoque",
    "type": "function",
    "z": "crm_tab_unificado",
    "name": "Mensagem estoque atualizado",
    "func": "const row = Array.isArray(msg.payload) ? msg.payload[0] : null;\nmsg.payload = row ? `✅ Estoque de ${row.sku} atualizado para ${row.quantidade_disponivel}` : '⚠️ SKU não encontrado';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1420,
    "wires": [
      [
        "crm_ui_toast_estoque",
        "crm_inject_refresh_fila"
      ]
    ]
  },
  {
    "id": "crm_ui_toast_estoque",
    "type": "ui_toast",
    "z": "crm_tab_unificado",
    "position": "top right",
    "displayTime": "4",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Toast estoque",
    "x": 1170,
    "y": 1420,
    "wires": []
  }
]