node-red/flows_secure.json
[
  {
    "id": "secure_tab_fix",
    "type": "tab",
    "label": "WhatsApp Secure PRO Corrigido",
    "disabled": false,
    "info": ""
  },
  {
    "id": "in_webhook_fix",
    "type": "http in",
    "z": "secure_tab_fix",
    "name": "Webhook Evolution Seguro",
    "url": "/evolution/webhook",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 180,
    "wires": [
      [
        "fn_guard_fix"
      ]
    ]
  },
  {
    "id": "fn_guard_fix",
    "type": "function",
    "z": "secure_tab_fix",
    "name": "Validação + segurança + memória",
    "func": "const body = msg.payload || {};\nconst data = body.data || {};\nconst key = data.key || {};\nconst event = String(body.event || '').toLowerCase();\n\n// Configure no .env do Node-RED (somente dígitos)\nconst BOT_NUMBER = String(env.get('BOT_NUMBER') || '555196172712').replace(/\\D/g, '');\n\nfunction onlyDigits(v) {\n  return String(v || '').replace(/\\D/g, '');\n}\n\nfunction safeContextSegment(v) {\n  return String(v || '')\n    .trim()\n    .replace(/\\s+/g, '_')\n    .replace(/[^a-zA-Z0-9:_-]/g, '');\n}\n\nfunction isGroupOrStatus(jid) {\n  jid = String(jid || '');\n  return jid.endsWith('@g.us') || jid === 'status@broadcast' || jid.includes('@newsletter');\n}\n\nfunction isRealWhatsappJid(jid) {\n  jid = String(jid || '');\n  return jid.endsWith('@s.whatsapp.net') || jid.endsWith('@c.us');\n}\n\nfunction looksLikeLid(jid) {\n  return String(jid || '').includes('@lid');\n}\n\nif (event !== 'messages.upsert') {\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'evento_ignorado', event: body.event || null };\n  return [null, msg, null];\n}\n\nif (key.fromMe === true) {\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'fromMe' };\n  return [null, msg, null];\n}\n\nconst instance = body.instance || body.instanceName || data.instance || data.instanceName || env.get('EVOLUTION_INSTANCE') || 'danielteste';\nconst pushName = body.pushName || data.pushName || 'Cliente';\n\nconst candidates = [\n  key.participant,\n  data.participant,\n  body.senderPn,\n  data.senderPn,\n  body.sender,\n  data.sender,\n  key.remoteJid,\n  data.remoteJid,\n  body.remoteJid,\n  key.remoteJidAlt\n].filter(Boolean);\n\nconst senderCandidates = [\n  key.participant,\n  data.participant,\n  body.senderPn,\n  data.senderPn,\n  body.sender,\n  data.sender\n].filter(Boolean);\n\nconst chatCandidates = [\n  key.remoteJid,\n  data.remoteJid,\n  body.remoteJid,\n  key.remoteJidAlt\n].filter(Boolean);\n\nconst preferredCandidates = senderCandidates.concat(chatCandidates);\nlet chosen = preferredCandidates.find(function(j) { return isRealWhatsappJid(j) && !isGroupOrStatus(j) && !looksLikeLid(j); }) || '';\n\nif (!chosen && key.fromMe !== true && BOT_NUMBER) {\n  chosen = preferredCandidates.find(function(j) {\n    const digits = onlyDigits(j);\n    return isRealWhatsappJid(j) && !isGroupOrStatus(j) && !looksLikeLid(j) && digits && digits !== BOT_NUMBER;\n  }) || '';\n}\n\nif (!chosen) {\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'jid_sem_numero_real', instance, candidates, senderCandidates, chatCandidates };\n  return [null, msg, null];\n}\n\nconst number = onlyDigits(chosen);\nif (!number) {\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'numero_invalido', instance, chosen, candidates, senderCandidates, chatCandidates };\n  return [null, msg, null];\n}\n\nif (BOT_NUMBER && number === BOT_NUMBER) {\n  const nonBotFallback = preferredCandidates.find(function(j) {\n    const digits = onlyDigits(j);\n    return isRealWhatsappJid(j) && !isGroupOrStatus(j) && !looksLikeLid(j) && digits && digits !== BOT_NUMBER;\n  }) || '';\n\n  if (nonBotFallback) {\n    chosen = nonBotFallback;\n  } else {\n    msg.statusCode = 200;\n    msg.payload = {\n      ok: true,\n      ignored: true,\n      reason: 'numero_do_proprio_bot',\n      instance,\n      chosen,\n      number,\n      botNumber: BOT_NUMBER,\n      candidates,\n      senderCandidates,\n      chatCandidates\n    };\n    return [null, msg, null];\n  }\n}\n\nconst finalNumber = onlyDigits(chosen);\nif (!finalNumber) {\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'numero_invalido', instance, chosen, candidates, senderCandidates, chatCandidates };\n  return [null, msg, null];\n}\n\nlet receivedText = '';\nif (data.message) {\n  const message = data.message || {};\n  const extended = message.extendedTextMessage || {};\n  const image = message.imageMessage || {};\n  const video = message.videoMessage || {};\n  const document = message.documentMessage || {};\n\n  receivedText = message.conversation\n    || extended.text\n    || image.caption\n    || video.caption\n    || document.caption\n    || '';\n}\nreceivedText = String(receivedText || '').trim();\n\nif (!receivedText) {\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'mensagem_sem_texto', instance, number: finalNumber };\n  return [null, msg, null];\n}\n\nconst dedupeWindowMs = 15000;\nconst now = Date.now();\nconst dedupeStore = flow.get('dedupeStore') || {};\nconst messageId = key.id || data.id || body.id || '';\nconst dedupeKey = messageId\n  ? instance + ':' + finalNumber + ':msgid:' + messageId\n  : instance + ':' + finalNumber + ':text:' + receivedText.toLowerCase();\n\nfor (const k in dedupeStore) {\n  if (now - dedupeStore[k] > dedupeWindowMs) delete dedupeStore[k];\n}\n\nif (dedupeStore[dedupeKey] && (now - dedupeStore[dedupeKey] < dedupeWindowMs)) {\n  flow.set('dedupeStore', dedupeStore);\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'mensagem_duplicada', instance, number: finalNumber, dedupeKey };\n  return [null, msg, null];\n}\n\ndedupeStore[dedupeKey] = now;\nflow.set('dedupeStore', dedupeStore);\n\nconst floodWindowMs = 5000;\nconst floodStore = flow.get('floodStore') || {};\nconst floodKey = instance + ':' + finalNumber;\nif (floodStore[floodKey] && (now - floodStore[floodKey] < floodWindowMs)) {\n  msg.statusCode = 200;\n  msg.payload = { ok: true, ignored: true, reason: 'flood_bloqueado', instance, number: finalNumber, floodKey };\n  return [null, msg, null];\n}\n\nfloodStore[floodKey] = now;\nflow.set('floodStore', floodStore);\n\nconst memoryInstance = safeContextSegment(instance) || 'default';\nconst memoryNumber = safeContextSegment(finalNumber) || 'unknown';\nconst memoryKey = 'memory:' + memoryInstance + ':' + memoryNumber;\nlet history = flow.get(memoryKey) || [];\nhistory = Array.isArray(history) ? history.slice(-10) : [];\n\nmsg._meta = {\n  event,\n  instance,\n  pushName,\n  chosen,\n  number: finalNumber,\n  candidates,\n  receivedText,\n  dedupeKey,\n  memoryKey\n};\nmsg._history = history;\n\nreturn [msg, null, msg];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 180,
    "wires": [
      [
        "delay_queue_fix"
      ],
      [
        "debug_ignored_fix",
        "resp_ignored_fix"
      ],
      [
        "debug_prepare_fix"
      ]
    ]
  },
  {
    "id": "delay_queue_fix",
    "type": "delay",
    "z": "secure_tab_fix",
    "name": "Fila IA 1 req / 3s",
    "pauseType": "rate",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "2",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 730,
    "y": 180,
    "wires": [
      [
        "fn_mistral_req_fix"
      ]
    ]
  },
  {
    "id": "fn_mistral_req_fix",
    "type": "function",
    "z": "secure_tab_fix",
    "name": "Montar request Mistral",
    "func": "const history = msg._history || [];\nconst messages = [\n  {\n    role: 'system',\n    content: 'Você é um atendente profissional no WhatsApp. Responda em português do Brasil, seja claro, educado e objetivo, não invente informações, se faltar contexto peça mais detalhes, não diga que é IA a menos que perguntem e mantenha respostas curtas ou médias.'\n  }\n];\n\nfor (const item of history) {\n  if (item && item.role && item.content) {\n    messages.push({ role: item.role, content: item.content });\n  }\n}\n\nmessages.push({\n  role: 'user',\n  content: `Nome do cliente: ${msg._meta.pushName}\\nNúmero: ${msg._meta.number}\\n\\nMensagem atual do cliente:\\n${msg._meta.receivedText}`\n});\n\nmsg.method = 'POST';\nmsg.url = 'https://api.mistral.ai/v1/chat/completions';\nmsg.headers = {\n  Authorization: 'Bearer ' + env.get('MISTRAL_API_KEY'),\n  'Content-Type': 'application/json'\n};\nmsg.payload = {\n  model: 'mistral-small-latest',\n  messages,\n  max_tokens: 300,\n  temperature: 0.3\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 180,
    "wires": [
      [
        "http_mistral_fix"
      ]
    ]
  },
  {
    "id": "http_mistral_fix",
    "type": "http request",
    "z": "secure_tab_fix",
    "name": "POST Mistral",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 1240,
    "y": 180,
    "wires": [
      [
        "fn_format_send_fix"
      ]
    ]
  },
  {
    "id": "fn_format_send_fix",
    "type": "function",
    "z": "secure_tab_fix",
    "name": "Formatar resposta + persistir memória",
    "func": "let aiText = '';\nconst payload = msg.payload || {};\n\nfunction hasRateLimitText(v) {\n  return /rate\\s*limit|too\\s*many\\s*requests|429|quota/i.test(String(v || ''));\n}\n\nfunction hasProviderError(p) {\n  if (!p || typeof p !== 'object') return false;\n  const candidates = [\n    p.error,\n    p.message,\n    p.detail,\n    p?.error?.message,\n    p?.error?.type,\n    p?.error?.code\n  ];\n  return candidates.some(function(item) {\n    const text = typeof item === 'string' ? item : JSON.stringify(item || '');\n    return /error|invalid|unauthorized|forbidden|rate\\s*limit|too\\s*many\\s*requests|quota|insufficient/i.test(text);\n  });\n}\n\nif (typeof payload === 'string') {\n  aiText = payload;\n} else if (payload.choices && payload.choices[0] && payload.choices[0].message && payload.choices[0].message.content) {\n  aiText = payload.choices[0].message.content;\n} else if (payload.content) {\n  aiText = payload.content;\n} else if (payload.text) {\n  aiText = payload.text;\n} else if (payload.message && !hasProviderError(payload)) {\n  aiText = payload.message;\n}\n\nif (Array.isArray(aiText)) {\n  aiText = aiText.map(function(part) {\n    if (typeof part === 'string') return part;\n    if (part && part.text) return part.text;\n    return '';\n  }).join(' ');\n}\n\naiText = String(aiText || '').trim();\n\nconst providerError = hasProviderError(payload) || hasRateLimitText(aiText);\nif (!aiText || providerError) {\n  aiText = 'Recebi sua mensagem 👍 Estou finalizando um atendimento aqui e já te respondo melhor.';\n}\n\nconst memoryKey = msg._meta.memoryKey;\nlet history = flow.get(memoryKey) || [];\nhistory = Array.isArray(history) ? history : [];\n\nhistory.push({ role: 'user', content: msg._meta.receivedText, ts: Date.now() });\nhistory.push({ role: 'assistant', content: aiText, ts: Date.now() });\nhistory = history.slice(-10);\nflow.set(memoryKey, history);\n\nmsg.method = 'POST';\nmsg.url = 'http://evolution-api:8080/message/sendText/' + encodeURIComponent(msg._meta.instance);\nmsg.headers = {\n  'Content-Type': 'application/json',\n  apikey: env.get('EVOLUTION_API_KEY')\n};\nmsg.payload = {\n  number: msg._meta.number,\n  text: aiText,\n  delay: 1000,\n  linkPreview: false\n};\n\nmsg._debug_ai = {\n  number: msg._meta.number,\n  instance: msg._meta.instance,\n  pergunta: msg._meta.receivedText,\n  resposta: aiText,\n  memoryKey: msg._meta.memoryKey,\n  dedupeKey: msg._meta.dedupeKey,\n  providerErrorDetected: providerError\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1540,
    "y": 180,
    "wires": [
      [
        "debug_ai_fix",
        "http_evo_fix"
      ]
    ]
  },
  {
    "id": "http_evo_fix",
    "type": "http request",
    "z": "secure_tab_fix",
    "name": "POST sendText Evolution",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 1780,
    "y": 180,
    "wires": [
      [
        "debug_evo_fix",
        "fn_ok_fix"
      ]
    ]
  },
  {
    "id": "fn_ok_fix",
    "type": "function",
    "z": "secure_tab_fix",
    "name": "Responder 200 OK",
    "func": "msg.statusCode = 200;\nmsg.payload = {\n  ok: true,\n  sent: true,\n  evolution_response: msg.payload,\n  debug: msg._debug_ai || {}\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2040,
    "y": 180,
    "wires": [
      [
        "resp_ok_fix"
      ]
    ]
  },
  {
    "id": "resp_ok_fix",
    "type": "http response",
    "z": "secure_tab_fix",
    "name": "HTTP 200 enviado",
    "statusCode": "",
    "headers": {},
    "x": 2260,
    "y": 180,
    "wires": []
  },
  {
    "id": "catch_mistral_fix",
    "type": "catch",
    "z": "secure_tab_fix",
    "name": "Erro Mistral",
    "scope": [
      "http_mistral_fix"
    ],
    "uncaught": false,
    "x": 1240,
    "y": 310,
    "wires": [
      [
        "debug_error_fix",
        "fn_fallback_fix"
      ]
    ]
  },
  {
    "id": "fn_fallback_fix",
    "type": "function",
    "z": "secure_tab_fix",
    "name": "Fallback humano",
    "func": "const meta = msg._meta || {};\nconst memoryKey = meta.memoryKey;\nif (memoryKey) {\n  let history = flow.get(memoryKey) || [];\n  history = Array.isArray(history) ? history : [];\n  history.push({ role: 'user', content: meta.receivedText || '', ts: Date.now() });\n  history.push({ role: 'assistant', content: 'Recebi sua mensagem 👍 Estou finalizando um atendimento aqui e já te respondo melhor.', ts: Date.now() });\n  history = history.slice(-10);\n  flow.set(memoryKey, history);\n}\n\nmsg.method = 'POST';\nconst instance = meta.instance || env.get('EVOLUTION_INSTANCE') || 'danielteste';\nmsg.url = 'http://evolution-api:8080/message/sendText/' + encodeURIComponent(instance);\nmsg.headers = {\n  'Content-Type': 'application/json',\n  apikey: env.get('EVOLUTION_API_KEY')\n};\nmsg.payload = {\n  number: meta.number,\n  text: 'Recebi sua mensagem 👍\\n\\nEstou finalizando um atendimento aqui e já te respondo melhor.',\n  delay: 1000,\n  linkPreview: false\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1510,
    "y": 310,
    "wires": [
      [
        "http_evo_fix"
      ]
    ]
  },
  {
    "id": "debug_prepare_fix",
    "type": "debug",
    "z": "secure_tab_fix",
    "name": "DEBUG preparo",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "_meta",
    "targetType": "msg",
    "x": 720,
    "y": 110,
    "wires": []
  },
  {
    "id": "debug_ignored_fix",
    "type": "debug",
    "z": "secure_tab_fix",
    "name": "DEBUG ignorado",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 710,
    "y": 260,
    "wires": []
  },
  {
    "id": "resp_ignored_fix",
    "type": "http response",
    "z": "secure_tab_fix",
    "name": "HTTP 200 ignorado",
    "statusCode": "",
    "headers": {},
    "x": 960,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug_ai_fix",
    "type": "debug",
    "z": "secure_tab_fix",
    "name": "DEBUG IA saída",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "_debug_ai",
    "targetType": "msg",
    "x": 1760,
    "y": 110,
    "wires": []
  },
  {
    "id": "debug_evo_fix",
    "type": "debug",
    "z": "secure_tab_fix",
    "name": "DEBUG Evolution",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 1980,
    "y": 110,
    "wires": []
  },
  {
    "id": "debug_error_fix",
    "type": "debug",
    "z": "secure_tab_fix",
    "name": "DEBUG erro IA",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "error",
    "targetType": "msg",
    "x": 1490,
    "y": 370,
    "wires": []
  }
]
